/* overall */
body {
	background-color: white;
	font-family: Montserrat, Helvetica Neue, sans-serif;
	padding: 10px;
}

.main {
	width: 100%;
	max-width: 1320px;
	margin: auto;
	background-color: white;
	padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
	font-family: Merriweather, Georgia, serif;
	text-align: justify;
}
p.left{
	text-align: left;
}
li{
	font-family: Merriweather, Georgia, serif;
}

.separator{
	padding:20px;
	text-align: center;
	color: #b69d74;
}

.navbar {
  overflow: hidden;
  background-color: #1e84c4;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

h1{
	color: #1e84c4;
	text-shadow: 1px 1px black;
	text-align: center;
}

h2{
	color: #1e84c4;
}

img{
	padding-top: 30px;
	width: 50%;
	max-width: 500px;
}

.navbar a {
  float: left;
  display: block;
  color: white;;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a.selected {
	font-weight: bold;
}

.navbar a:hover {
  background: #81b9de;
  color: black;
}

